@import "tailwind.css";


.md{
  text-align: initial;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

}

.safe-area-padding-top {
  padding-top: var(--ion-safe-area-top, 0);
}

#root {
  height: 100%;
}


input:focus-visible {
  outline: none;
}
::-webkit-scrollbar {
  background-color: initial;
  width: 0!important;
  height: 0.550rem!important;
}
.test{
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;
  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;
  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 222.2 84% 4.9%;
  --radius: 0.5rem;
}

::-webkit-scrollbar-track {
  --tw-bg-opacity: 1!important;
  background-color: rgb(241 245 249/var(--tw-bg-opacity))!important;
  border-radius: 0.5rem!important;
}

::-webkit-scrollbar-thumb {
  --tw-bg-opacity: 1!important;
  background-color: rgb(193 203 215/var(--tw-bg-opacity))!important;
  border-radius: 0.5rem!important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.overflow-passthrough{
  max-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction:column;
}
@media print{
  nav {
    display: none !important;
    visibility: hidden;
  }
  header {
    display: none !important;
    visibility: hidden;
  }
  .single-page{
    page-break-after: always !important;
    page-break-inside: avoid !important;
  }
}
